body{
    max-width: 1170px;
    margin: 0 auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;

    gap: 50px;
   
}
.card{
    width: 300px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(94, 92, 92);
}
.card:hover{
    background-color: rgb(117, 239, 199);
    

}
.card h3{
    font-size: 1.25em;
    font-weight: 700;
}

.card img{
    width: 100%;
    border-radius: 10px;
    height: 200px;


}
.card button{
    background-color: aqua;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}